/**
* @name XOPichu Flat
* @author Nyria#3863, advyte
* @description A theme forked from LilyPichu with some tiny Weeknd edit by Adv
* @invite rtBQX5D3bD
* @version 1.4
* @donate https://ko-fi.com/nyria
*/
@import url("https://nyri4.github.io/LilyPichu/main.css");

:root {

/* --- User variables --- */

--background-image: url('https://raw.githubusercontent.com/Advyt3/XOPichu/main/assets/bg.png');

--container-text: "Stay Goated";

--home-button-icon: url('https://raw.githubusercontent.com/Advyt3/XOPichu/main/assets/home.png');

--inbox-bg-img: url('https://raw.githubusercontent.com/Advyt3/XOPichu/main/assets/window-xo.png');

/* XO logo in user profile / set it to none if you dont want it */
--profile-xo-logo: url('https://raw.githubusercontent.com/Advyt3/XOPichu/main/assets/xo-profile-bg.png');

/* Jumping GIF */
--jumping-gif: url('https://raw.githubusercontent.com/Advyt3/XOPichu/main/assets/xo-mini.png');

/* --background-tertiary-alt: url();  */
--background-tertiary-alt: rgb(177, 177, 177);

/* Border-radius for the whole theme */
--border-radius: 25px;

--button: #dba470;

}
.theme-dark {

    /* Text */
    --text-normal: #f8e1e5;
    --header-primary: #ffffff;
    --interactive-normal: #ffffff;
    --channels-default: #ffffff;

    --text-muted: #ffffff;
    --interactive-muted: #858585;

    --header-secondary: #858585;
    --interactive-hover: #a0a0a0;
    --interactive-active: #e2e2e2;

    /* Background color */
    --background-primary: #262626 !important;
    --background-secondary: #0c0c0c !important;
    --background-secondary-alt: #141414 !important;
    --background-tertiary: #1a1a1a !important;
    --background-floating: #131313 !important;
    --background-accent: #707070 !important;
    --channeltextarea-background: var(--background-secondary) !important;
    --background-modifier-hover: rgba(48, 44, 44, 0.32) !important;
    --background-modifier-active: rgba(17, 12, 12, 0.32) !important;
    --background-modifier-selected: rgba(31, 21, 21, 0.32) !important;
    --toast-background: #3d3638 !important;
    --toast-header: #292526 !important;
    --toast-contents: #252424 !important;
    --toast-border: #242323 !important;
    --input-background: var(--background-secondary);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --channel-text-area-placeholder: var(--interactive-normal);
    --deprecated-quickswitcher-input-background: var(--background-primary);
}

:root .bg__12180,
:root .app_de4237::before,
:root .app_b1f720::before,
:root .app_b1f720::after,
:root .app_de4237::after,
:root .bg__12180::after,
:root .bg__12180::before,
:root .layers__1c917::after,
:root .layers__1c917::before {
  background: url(none) !important;
}
:root .bg__12180 {
  background: var(--background-image) center/cover no-repeat !important;
} 
.container__20de0, .recentMentionsPopout__826a9 {
  background: var(--inbox-bg-img) center/cover no-repeat !important;
}
.wrapper_d281dd:hover .childWrapper__01b9c, .wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c path {
  fill: transparent
}
.wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c, .wrapper_d281dd:hover .childWrapper__01b9c {
  background: var(--home-button-icon) center/cover no-repeat !important;
  min-width: 60px;
  min-height: 60px;
}
.userProfileModalInner__7c87d, .userProfileInner__8065b, .userProfileInnerThemedPremiumWithoutBanner__703b1 {
  background: var(--profile-xo-logo) !important;
}
:root .ready-3BZNWT + .text-2bYgPB::before {
  content: "";
  position: absolute;
  bottom: 100px;
  left: 50px;
  width: 200px;
  height: 200px;
  background: var(--jumping-gif) center/80% no-repeat !important;
}
.userProfileOuterThemed__6eb84.userPopoutOuter_d739b2, .userProfileOuterThemed__6eb84.userProfileOuter__46bb7 {
  padding: 10px;
}
.container__037ed::after {
  content: var(--container-text) !important;
}
.scrollableContainer__33e06,
.channel_c21703,
.channelHeader__5d30c,
.side_b4b3f6 .item__48dda {
  border-radius: var(--border-radius) !important;
}
:root .title_b7d661 .children__32014::after,
:root .membersWrap__90226::before {
  display: none;
}
.lookFilled__19298.colorBrand_b2253e,
:root .container__871ba.checked__6bdb0 {
  background-color: var(--button) !important;
}

/* add your code here */
