/**
* @name XOPichu
* @author Nyria#3863, advyte
* @description A theme forked from LilyPichu with some tiny Weeknd edit by Adv
* @invite rtBQX5D3bD
* @version 1.4
* @donate https://ko-fi.com/nyria
*/
@import url("https://nyri4.github.io/LilyPichu/main.css");

:root {

/* --- User variables --- */

--background-image: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/bg.png');

--container-text: "Stay Goated";

--home-button-icon: url('https://i.pinimg.com/originals/75/0f/57/750f57aef231b96e3f21f3650ac82008.jpg');

--inbox-bg-img: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/window-xo.png');

/* XO logo in user profile / set it to none if you dont want it */
--profile-xo-logo: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/xo-profile-bg.png');

/* Jumping GIF */
--jumping-gif: url('https://raw.githubusercontent.com/4dvyte/XOPichu/main/assets/xo-mini.png');

/* --background-tertiary-alt: url();  */
--background-tertiary-alt: rgba(177, 177, 177, 0.671);

/* Border-radius for the whole theme */
--border-radius: 25px;

/* Blur variable */
--bg-blur: 25px;
--bg-blur-secondary: 5px;

--button: #dba470;

}

.theme-dark {

  /* Text */
    --text-normal: #f8e1e5;
    --header-primary: rgb(255, 255, 255);
    --interactive-normal: #ffffff;
    --channels-default: #ffffff;

    --text-muted: #ffffff;
    --interactive-muted: #858585;

    --header-secondary: #858585;
    --interactive-hover: #a0a0a0;
    --interactive-active: #e2e2e2;

    /* Background color */
    --background-primary: #2424247e !important;
    --background-secondary: #0c0c0c9c !important;
    --background-secondary-alt: #1414146b !important;
    --background-tertiary: #1a1a1a96 !important;
    --background-floating: #131313da !important;
    --background-accent: #3b3b3ba4 !important;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(48, 44, 44, 0.32) !important;
    --background-modifier-active: rgba(17, 12, 12, 0.32) !important;
    --background-modifier-selected: rgba(31, 21, 21, 0.32) !important;
    --toast-background: #3d3638d5 !important;
    --toast-header: #292526da !important;
    --toast-contents: #252424 !important;
    --toast-border: #242323d0 !important;
    --input-background: var(--background-secondary);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --channel-text-area-placeholder: var(--interactive-normal);
    --deprecated-quickswitcher-input-background: var(--background-primary);
}
.theme-light {

  /* Text */
    --text-normal: #000000;
    --header-primary: #000000;
    --interactive-normal: #000000;
    --channels-default: #000000;

    --text-muted: #000000;
    --interactive-muted: #1b1b1b;

    --header-secondary: #000000;
    --interactive-hover: #242424;
    --interactive-active: #141414;

    /* Background color */
    --background-primary: #d4d4d47e !important;
    --background-secondary: #a5a5a59c !important;
    --background-secondary-alt: #8d8d8d6b !important;
    --background-tertiary: #80808096 !important;
    --background-floating: #818181da !important;
    --background-accent: #838383a4 !important;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(141, 153, 143, 0.32) !important;
    --background-modifier-active: rgba(117, 138, 126, 0.32) !important;
    --background-modifier-selected: rgba(137, 156, 143, 0.32) !important;
    --toast-background: #b5c9b3d5 !important;
    --toast-header: #a8beadda !important;
    --toast-contents: #bbbbbb !important;
    --toast-border: #b4b4b4d0 !important;
    --input-background: var(--background-secondary);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --channel-text-area-placeholder: var(--interactive-normal);
    --deprecated-quickswitcher-input-background: var(--background-primary);
}

:root .bg__12180,
:root .app_de4237::before,
:root .app_b1f720::before,
:root .app_b1f720::after,
:root .app_de4237::after,
:root .bg__12180::after,
:root .bg__12180::before,
:root .layers__1c917::after,
:root .layers__1c917::before {
  background: url(none) !important;
}
:root .bg__12180 {
  background: var(--background-image) center/cover no-repeat !important;
} 
.userProfileModalInner__7c87d, .userProfileInner__8065b, .userProfileInnerThemedPremiumWithoutBanner__703b1 {
  background: var(--profile-xo-logo) !important;
}
.container__20de0, .recentMentionsPopout__826a9 {
  background: var(--inbox-bg-img) center/cover no-repeat !important;
  backdrop-filter: blur(var(--bg-blur-secondary)) !important;
}
.scroller__1f96e,
.form__13a2c,
.scroller__3d071,
.membersWrap__90226 .members__9f47b .content__23cab,
.container_ca50b9,
.peopleColumn__51df3,
:root .container__5c7e7 .container__11d72,
.nowPlayingColumn_f5023f::before,
.nowPlayingColumn_f5023f::after {
  backdrop-filter: blur(var(--bg-blur));
}
.scroller_f0f183,
:root .scroller__750f5 .item__183e8,
.nowPlayingColumn_f5023f,
.sidebarRegionScroller__1fa7e,
.contentRegion__0bec1
{
  backdrop-filter: blur(var(--bg-blur-secondary));
}
.bannerImage__39c51,
.animatedContainer__341f6 {
  z-index: 2;
}
.wrapper_d281dd:hover .childWrapper__01b9c, .wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c path {
  fill: transparent
}
.wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c, .wrapper_d281dd:hover .childWrapper__01b9c {
  background: var(--home-button-icon) center/cover no-repeat !important;
  min-width: 60px;
  min-height: 60px;
}
:root .ready-3BZNWT + .text-2bYgPB::before {
  content: "";
  position: absolute;
  bottom: 100px;
  left: 50px;
  width: 200px;
  height: 200px;
  background: var(--jumping-gif) center/80% no-repeat !important;
}
.userProfileOuterThemed__6eb84.userPopoutOuter_d739b2, .userProfileOuterThemed__6eb84.userProfileOuter__46bb7 {
  padding: 10px;
}
.container__037ed::after {
  content: var(--container-text) !important;
}
.scrollableContainer__33e06,
.channel_c21703,
.channelHeader__5d30c,
.side_b4b3f6 .item__48dda {
  border-radius: var(--border-radius) !important;
}
:root .title_b7d661 .children__32014::after,
:root .membersWrap__90226::before {
  display: none;
}
.lookFilled__19298.colorBrand_b2253e,
:root .container__871ba.checked__6bdb0 {
  background-color: var(--button) !important;
}

/* add your code here */
